body {
    background-color: cornflowerblue;
    overflow-x: hidden;
    font-family: 'Fredericka the Great', serif;
    font-size: large;
    font-weight: bold;
}

.bgImage {
    background-image: url("/media/4883373.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.colorTitle {
    color: White;
    font-weight: bold;
    font-size: 280%;
    /* font-family: 'Londrina Outline', sans-serif; */
    /* typically adds black border around a base text color but for this font it paints the inside due to the font type leaving a tiny white border */
    -webkit-text-stroke: 0.1px black;
}

.col {
    display: flex;
    justify-content: center;
}

.rowStyle {
    background-color: chocolate;
}

.hisCard {
    background-color: antiquewhite;
    border: 1rem solid black;
    padding: 1rem;
    padding-bottom:0.1rem;
    border-radius: 2rem;
}

.boxMargin {
    margin-left: 4rem;
    margin-right: 4rem;
}

.disRadius {
    border-radius: 1rem;
    
}

.displayArea {
    background-color: lightgray;
    margin: 1.25rem;
    margin-top: 0;
    border-radius: 1rem;
    padding:1.25rem;
    font-size: xx-large;
    border: 1px solid black;
}

.btn {
    display: flex;
    padding: 1rem;
    /* font-weight: bold; */
    font-size:x-large;
    border-radius: 2rem;
    height: 2.9rem;
    align-items: center;
    border: 1px solid black;
}

#btnBackspace {
    padding: .8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}