body {
    background-color: cornflowerblue;
    overflow-x: hidden;
    font-family: 'Fredericka the Great', serif;
    font-size: large;
    font-weight: bold;
}

/* .bgImage {
    background-image: url("/media/gameboy.png");
    background-repeat: no-repeat;

} */

.colorTitle {
    color: black;
    font-weight: bold;
    font-size: 250%;
}

.col {
    display: flex;
    justify-content: center;
}
.hisCard {
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 1rem;
    padding-bottom:0.1rem;
    border-radius: 15px;
}

.displayArea {
    background-color: lightgray;
    margin: 1.25rem;
    margin-top: 0;
    border-radius: 10px;
    padding:1.25rem;
    font-size: xx-large;
}

.btn {
    display: flex;
    padding: 1rem;
    /* font-weight: bold; */
    font-size:x-large;
    border-radius: 2rem;
    height: 3rem;
    align-items: center;
}

#btnBackspace {
    padding: .8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}