body {
    background-color: cornflowerblue;
}

.color {
    color: blue;
    font-weight: bold;
}

.col {
    display: flex;
    justify-content: center;
}
.hisCard {
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
}

.displayArea {
    background-color: lightgray;
    margin: 20px;
    margin-top: 0;
    border-radius: 10px;
    padding:10px
    
}

.btn {
    padding: 30px;
    /* font-weight: bold; */
    font-size:x-large;
}

