/* Descriptive notes will be above the styles */

body {
    background-color: cornflowerblue;
    /* To remove side scrolling bar */
    overflow-x: hidden;
    font-family: 'Fredericka the Great', serif;
    font-size: large;
    font-weight: bold;
}

.bgImage {
    background-image: url("/media/4883373.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;  
}

.colorTitle {
    color: White;
    font-weight: bold;
    font-size: 280%;
    /* font-family: 'Londrina Outline', sans-serif; */
    /* typically adds black border around a base text color but for this font it paints the inside due to the font type... So it is leaving a tiny white border instead....  snippet I used was from https://www.youtube.com/shorts/Hx1p1vQeHCg  */
    -webkit-text-stroke: 0.1px black;
}

/* all columns will have this property which will easily center buttons within their columns */
.col {
    display: flex;
    justify-content: center;
}

/* Style for the calculator's container body */
/* Notice the border-radius should be around double of the border in order to produce round buttons !!MATH!! */
.hisCard {
    background-color: antiquewhite;
    border: 1rem solid black;
    padding: 1rem;
    padding-bottom:0.1rem;
    border-radius: 2rem;
}

/* Make the Calculator not flex too far sideways */
.boxMargin {
    margin-left: 4rem;
    margin-right: 4rem;
}


.displayArea {
    background-color: lightgray;
    margin: 1.25rem;
    margin-top: 0;
    border-radius: 1rem;
    padding:1.25rem;
    font-size: xx-large;
    border: 1px solid black;
    /* Neos suggestion to make a static view height so when its cleared it doesnt make the display area shorter  "Quality of Life" */
    height: 5.5rem;
    justify-content: end;
    flex-wrap: wrap;
    
}

.btn {
    display: flex;
    padding: 1rem;
    font-size:x-large;
    /* Rounded buttons */
    border-radius: 2rem;
    height: 2.9rem;
    align-items: center;
    border: 1px solid black;
}

#btnBackspace {
    padding: .8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* unused code below */

/* .disRadius {
    border-radius: 1rem;  
} */